body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background-aluraflix.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-latam-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

body>img {
    margin: 0 10px;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

img {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --imgae;
    animation-name: show;
    animation-range: entry 1% cover 30%;
    animation-fill-mode: both;
    max-height: 250px;
    margin: 1vw;
    margin-bottom: 10px;
}

#container {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    ;
}

p {
    position: relative;
    color: white;

}

.grow {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.grow:hover {
    transform: scale3d(1.5, 1.5, 0.3);
    -webkit-transform: scale3d(1.5, 1.5, 0.3);
    -moz-transform: scale3d(1.5, 1.5, 0.3);
}